/* テーブルのコンテナをスクロール可能にする */
.table-container {
  overflow-x: auto;
  display: block;
  white-space: nowrap;
  max-height: 95vh;
}

/* テーブルの幅を固定 */
.table-container table {
  color: black;
  width: 100%;
  border-collapse: separate;
  position: relative;
}

.centered-header {
  text-align: center;
}

.table-container th,
.table-container td {
  border: 0.5px solid;
  padding: 8px;
  width: 100px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-container td {
  text-align: right;
}

.sticky-table thead th {
  position: sticky;
  top: 0rem;
  z-index: 1;
  background-color: white;
}

.sticky-table thead tr:nth-child(1) th {
  top: 0rem;
}

.sticky-table thead tr:nth-child(2) th {
  top: 4.25rem;
}

.sticky-table thead tr:nth-child(3) th {
  top: 8.5rem;
}

.sticky-column {
  position: sticky;
  left: 0;
  background-color: white;
}

td.sticky-column {
  text-align: left;
}

.sticky-table thead tr:first-child th:first-child {
  z-index: 2;
}
